#logo{
    position: absolute;
    width: 212px;
    height: 200px;
}

#titel{
    position: absolute;
    font-size: 500%;
    height: 50px;
    width: 375px;
}

#nav-bar{
    position: absolute;
    margin-top: 145px;
    width: 207px;
    height: 150px;
    background-color: lightblue;
    border-style: solid;
}

ul
{
    list-style-type: none;
}

#active-window{
    font-weight: bold;
}

#nav-bar-items{
    position: absolute;
    margin-left: -10%;
    font-size: 28px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

@media screen and (max-width: 730px) and (min-width: 620px){
    .infobox{
        width: 60%;
    }
    #hotel-map{
        width: 60%;
    }
}

@media screen and (min-width: 730px){
    .infobox{
        width: 450px;
    }
}

@media screen and (max-width: 620px){
    .infobox{
        margin-left: 0px;
        margin-top: 380px;
        width: 400px;
    }
    #titel{
        margin-left: 0px;
        margin-top: 300px;
    }
    #hotel-map{
        width: 400px;
    }
}

@media screen and (max-width: 420px){
    .infobox{
        width: 85%;
    }
    #titel{
        width: 85%;
    }
    #hotel-map{
        width: 100%;
    }
}

@media screen and (min-width: 620px){
    .infobox{
        margin-left: 225px;
        margin-top: 150px;
    }
    #titel{
        margin-left: 225px;
        margin-top: 65px;
    }
    #hotel-map{
        width: 500px;
    }
}

.infobox{
    position: absolute;
    height: 50%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.posts{
    padding-bottom: 5%;
}

.posttitle{
    font-size: 200%;
}

.postbody{
    margin-top: 5%;

}

#info{
    font-size: 22px;
}

.album{
    position: absolute;
    background-color: blue;
    width: 100px;
    height: 100px;
    padding-right: 0%;
    padding-bottom: 0%;
}

#galleri2{
    margin-left: 110px;
}

#galleri3{
    margin-left: 220px;
}

#galleri4{
    margin-top: 110px;
}

#galleri5{
    margin-top: 110px;
    margin-left: 110px;
}

#galleri6{
    margin-top: 110px;
    margin-left: 220px;
}

#galleri7{
    margin-top: 220px;
}

#galleri8{
    margin-top: 220px;
    margin-left: 110px;
}

#galleri9{
    margin-top: 220px;
    margin-left: 220px;
}

.galleria{
    position: absolute;
    margin-left: 18%;
    margin-top: 14%;
    height: 50%;
    width: 40%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#hotel-map{
    z-index: -1;
    height: 400px;

}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:active{
    color: black;
    text-decoration: none;
}