<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>

<body>
    <div id="logo">

    </div>

    <div id="titel">
        <div id="titel-text">
            Skolnamn
        </div>
    </div>

    <div id="nav-bar">
        <div id="nav-bar-items">
            <ul>
                <li>
                    <a href="index.html" id="active-window">
                        Hem
                    </a>
                </li>
                <li>
                    <a href="learnpoint.html">
                        Learnpoint
                    </a>
                </li>
                <li>
                    <a href="galleri.html">
                        Galleri
                    </a>
                </li>
                <li>
                    <a href="matsedeln.html">
                        Matsedel
                    </a>
                </li>
                <li>
                    <a href="info.html">
                        Information
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="postsbox">
        <div id="post1" class="posts">
            <div id="posttitle">
                BestTitle
            </div>
            <div id="postdate">
                28/3 - 15
            </div>
            <div id="postbody">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
                illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </div>
        </div>
        <div id="post2" class="posts">
            <div id="posttitle">
                BestTitle2
            </div>
            <div id="postdate">
                23/3 - 14
            </div>
            <div id="postbody">
                Ut enim ad minima veniam, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
                illum qui dolorem eum fugiat quo voluptas nulla pariatur? Sed ut perspiciatis unde omnis iste natus
                error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </div>
        </div>
    </div>
</body>