<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>

<title>Information - Skolhemsida</title>

<body>
    <div id="logo">
        <img src="../static/img/skol-logga.png" style="width: 100%">
    </div>

    <div id="titel">
        <div id="titel-text">
            Skolnamn
        </div>
    </div>

    <div id="nav-bar">
        <div id="nav-bar-items">
            <ul>
                <li>
                    <a href="index.html">
                        Hem
                    </a>
                </li>
                <li>
                    <a href="galleri.html">
                        Galleri
                    </a>
                </li>
                <li>
                    <a href="info.html" id="active-window">
                        Information
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="infobox">
        <div id="info">
            Telefon: 123456789 <br>
            Address: 123 Fakestreet <br>
            E-mail: fakemail@domain.edu
        </div>
        <div id="hotel-map">
            <script>
                function initialize() {
                    var mapCanvas = document.getElementById('hotel-map');
                    var mapOptions = {
                        center: new google.maps.LatLng(59.223372, 17.939992),
                        zoom: 15,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map(mapCanvas, mapOptions)
                }
                google.maps.event.addDomListener(window, 'load', initialize);
            </script>
        </div>
    </div>
</body>
